@charset "UTF-8";
#mainwrapper header {
	/*Header */
	background-color: rgba(40,42,44,1.00);
	overflow-x: auto;
	overflow-y: hidden;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#mainwrapper header {
	overflow: visible; 
 }
 #mainwrapper header::after{
	content: '';
	display: block;
	clear: both;
 }

#mainwrapper header #logo {
	/* Company Logo text */
	width: 120px;
	float: left;
	margin: 0px;
	padding-left: 5%;
	padding-top: 30px;
	padding-bottom: 20px;
	color: rgba(255,255,255,1.00);
	font-size: 18px;
}
#mainwrapper header #main-nav {
	/*Nav bar containing links in header */
	text-align: right;
	padding-top: 30px;
	padding-right: 20px;
	float: right;
}

header #main-nav ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
header #main-nav li {
	display: inline;
	position: relative;
	padding-bottom: 20px;
}

.vertical-menu {
	position: absolute;
	top: 100%;
	left: 0;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	background-color: rgba(40,42,44,1.00);
}
#main-nav .vertical-menu li {
	display: none;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	white-space: nowrap;
}
#main-nav li:hover .vertical-menu li {
	display: block;
}

header #main-nav a {
	/* Links in header */
	padding-left: 20px;
	color: rgba(190,190,190,1.00);
	text-decoration: none;
    font-size: 18px;
}

header #main-nav a:hover {
	color: white;
}
header #main-nav a:active{
	color: white;
}

#content #mainContent h1, #content #mainContent h2 {
	/* Styling for main headings */
	color: rgba(42,80,80,1.00);
	font-size: 30px;
}
#content #mainContent h3 {
	/*Captions ot Taglines */
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 250;
}
#content #mainContent h4 {
	color: rgba(42,80,80,1.00);
	font-size: 22px;
	line-height: 0px;
}
#content #mainContent .subjects {
	width: 100%;
	display: flex;
  	justify-content: space-between;
}
#content #mainContent .sub-subjects {
	width: 50%;
}
#content #mainContent .subjects li {
	color: rgba(80,80,80,1.00);
	line-height: 30px;
	font-family: source-sans-pro, sans-serif;
}
#content #mainContent p {
	/* All paragraphs under maincontent */
	color: rgba(80,80,80,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: justify;
	line-height: 20px;
}
#content #mainContent #authorInfo {
	/* Author info section */
	border: 2px solid black;
}
#content #mainContent #authorInfo h2 {
	color: rgba(80,80,80,1.00);
	padding-left: 2%;
	padding-top: 30px;
	line-height: 25px;
	font-weight: 400;
}
#content #mainContent #authorInfo p {
	color: rgba(1,1,1,1.00);
	padding-left: 2%;
	padding-top: 0px;
	font-family: source-sans-pro, sans-serif;
	padding-bottom: 30px;
	padding-right: 2%;
	line-height: 25px;
}
footer article {
	/* Footer articles */
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
}
footer article h3 {
	/* Footer article titles */
	text-align: center;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}
#mainContent {
	/* Container for the blog post in individal blog view */
	width: 738px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	position: center;
	padding-bottom: 30px;
	background-color: rgba(239,242,240,1.00);
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	width: 192px;
	padding-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	background-color: rgba(246,246,246,1.00);
	padding-bottom: 40px;
	margin-bottom: 40px;
}
#mainwrapper {
	/* Container of all content */
	width: 960px;
	overflow: auto;
	margin: 0 auto;
}
#content #sidebar .information {
	/* Container for Image in sidebar */
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	float: none;
	overflow: auto;
	background-color: rgba(128, 176, 247, 0.877);
}
#content #sidebar .information a {
	color: rgba(158, 236, 105, 0.747);
	text-decoration: none; 
}
#content #sidebar .information a:hover {
	color: rgba(84,164,164,1.00); 
}
#footerbar {
	/* Footer bar at the bottom of the page */
	height: 60px;
	background-color: rgba(40,42,44,1.00);
	width: 960px;
	clear: both;
	margin: 0 auto;
}
#footerbar p {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}
#footerbar a {
	color: white;
}
#footerbar a:hover {
	color: black;
	background-color: white;
}
#bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#footerImage img {
	width: 100%;
}
#mainContent #map img {
	/* Actual banner image */
	width:100%;
	height: 100%;
	padding-bottom: 30px;
}

#mainContent #proceedings_image{
	text-align: center;
}
#mainContent #proceedings_image img{
	width: 50%;
	margin: auto;
}

#content #footer {
	background-color: rgba(204,232,220,1.00);
	padding-bottom: 20px;
}
#universityImage {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(4,96,4,1.00);
	text-align: center;
	width: 960px;
	margin: 0 auto;
}
#universityImage img {
	height: 80px;
}